
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8rem;
}

table, td, th {
border: 1px, solid black;
}

table {
    font-size: 2.4rem;
    border-collapse: separate;
}

table tr:first-child{
background-color: steelblue;
color: #fff;
}

table trn:nth-child(2n+3){
background-color: #555;
}

ul{
    padding-left: 3rem;
}
ol{
    list-style: upper-roman;
}